.login_button {
  width: 150px;
  height: 50px;
  margin: 15px 20px;
}

.create_event_button {
  width: 30%;
  min-width: 150px;
}

.event_list {
  height: 200px;
}

.event_list_border {
  border: 2px solid gray;
}

.next_button {
  width: 100px;
}

.user_name_span {
  line-height: 50px;
}

.tabsWizard md-tabs md-tabs-wrapper {
  background: cornflowerblue;
}

md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
  color: #000000;
}

md-tabs-canvas {
  pointer-events: none;
}