.switchButton {
  width: 30px !important;
}

.stationSearchContainer {
  margin-top: 30px;
}

.scheduleListBorder {
  border: 2px solid gray;
  margin-top: 30px;
}

.trainSheduleList {
  height: 300px;
}