<div class="tabsWizard" layout="column" layout-margin layout-padding>
    <form name="vm.describeEventForm">
        <md-input-container class="md-block">
            <label for="eventNameInput">Event name</label>
            <input required id="eventNameInput" name="eventName" type="text" autofocus="true" ng-model="vm.eventNameText">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Event type</label>
            <md-select name="eventType" ng-model="vm.selectedEventType">
                <md-option ng-repeat="event in vm.eventTypeCollection">
                    {{event}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="md-block">
            <label for="eventHostInput">Host</label>
            <input id="eventHostInput" required name="eventHost" ng-model="vm.eventHostText" type="text">
        </md-input-container>
        <div layout="row" layout-xs="column" layout-align="start center">
            <md-input-container>
                <label for="startDateTime">Start Date & Time</label>
                <input id="startDateTime" type="datetime-local" name="startDateTime" ng-model="vm.startDateTime" required>
                <div ng-messages="vm.describeEventForm.startDateTime.$error" role="alert" multiple>
                    <div ng-message="required" class="my-message">Please, set start date and time of the event</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label for="endDateTime">End Date & Time</label>
                <input id="endDateTime" type="datetime-local" name="endDateTime" ng-model="vm.endDateTime" required>
                <div ng-messages="describeEventForm.endDateTime.$error" role="alert" multiple>
                    <div ng-message="required" class="my-message">Please, set end date and time of the event</div>
                </div>
            </md-input-container>
        </div>
        <div layout="column" layout-margin flex>
            <md-subheader>Friends list</md-subheader>
            <md-content flex class="event_list_border">
                <md-list class="event_list">
                    <md-list-item ng-repeat="item in vm.addedFriendList">
                        <div class="md-list-item-text">
                            {{item.fullName}} {{item.email}}
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </md-content>
            <md-input-container class="md-block">
                <label for="friendNameInput">Full name</label>
                <input id="friendNameInput" name="friendName" ng-model="vm.friendNameText" type="text">
            </md-input-container>
            <md-input-container class="md-block">
                <label for="friendEmailInput">Email</label>
                <input id="friendEmailInput" type="email" ng-model="vm.friendEmailText" name="friendEmail" ng-pattern="/^.+@.+\..+$/"
                       ng-required="required">
            </md-input-container>
            <div layout="row" layout-align="end center">
                <md-button ng-click="vm.addFriendButton_clickHandler()" class="md-raised next_button">Add Friend</md-button>
            </div>
        </div>
        <div id="toastPositionFriends" layout="row" layout-align="end center">
        </div>
        <md-input-container class="md-block">
            <label for="countryInput">Location</label>
            <input id="countryInput" required name="location" ng-model="vm.locationText" type="text">
        </md-input-container>
    </form>
    <div id="toastPositionEvent" layout="row" layout-align="end center">
    </div>
    <div layout="row" layout-align="end center">
        <md-button ng-click="vm.completeButton_clickHandler()" class="md-raised next_button">Complete</md-button>
    </div>
</div>